.wrapper  {
  display: block;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    max-width: 100%;
    margin: auto;
    margin-bottom: 50px;
    align-self: center;
    box-sizing: border-box;
  }
  
#product-form {
   
    flex-direction: column;
    align-items: center;
    padding: auto;
    margin-left: 40px;
    margin-bottom: 0px;
  }
  
  #product-form label {
    margin-top: 10px;
    display: block;
    font-size: 16px;
  }
  #product-form input, textarea{
    width: 90%;
  }
  #product-form select{
    width: 150px;
  }
  #product-form select option{
    font-size: 16px;
    font-weight: bold;
  }
  #product-form input, select, textarea {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  #product-form button {
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #product-form button:hover {
    background-color: #3e8e41;
  }
  
  .name-type, .select-item{
    display: flex;
    justify-content: space-around;
    margin-left: -40px;
  }

  .name-price{
    display: flex;
    justify-content: space-around;
    margin-left: -80px;
  }
  .space{
    width: 30px;
  }
  .price-input{
    width: 90%;
    display: flex;
    justify-content: space-around;

  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }
  
  .tag {
    display: inline-block;
    padding: 2px 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: #ff9494;
    cursor: pointer;
  }
  
  .tag:hover {
    background-color: #ddd;
  }
  
  #tags-input {
    display: block;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  #clear-btn {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #eee;
  cursor: pointer;
}

#clear-btn:hover {
  background-color: #ddd;
}