.wrapper  {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    max-width: 100%;
    margin: auto;
    margin-bottom: 50px;
    align-self: center;
    box-sizing: border-box;
  }
  
#product-form {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    padding: auto;
    margin-left: 40px;
    margin-bottom: 0px;
  }
  
  #product-form label {
    margin-top: 10px;
    display: block;
    font-size: 16px;
  }
  #product-form input, textarea{
    width: 140%;
  }
  #product-form select{
    width: 150px;
  }
  #product-form select option{
    font-size: 16px;
    font-weight: bold;
  }
  #product-form input, select, textarea {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  #product-form button {
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #product-form button:hover {
    background-color: #3e8e41;
  }
  